@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 40% 96%;
    --foreground: 222 47% 11%;

    --card: 210 40% 98%;
    --card-foreground: 222 47% 11%;

    --popover: 214 31% 91%;
    --popover-foreground: 222 47% 11%;

    --primary: 200 98% 39%;
    --primary-foreground: 204 100% 97%;

    --secondary: 215 24% 26%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 20% 65%;
    --muted-foreground: 222 47% 11%;

    --accent: 210 40% 98%;
    --accent-foreground: 215 19% 34%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 85% 97%;

    --border: 212 26% 83%;
    --input: 212 26% 83%;
    --ring: 200 98% 39%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 200 98% 39%;
    --sidebar-primary-foreground: 204 100% 97%;
    --sidebar-accent: 215 24% 26%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 212 26% 83%;
    --sidebar-ring: 200 98% 39%;

    --chart-1: 198 93% 59%;
    --chart-2: 213 93% 67%;
    --chart-3: 215 20% 65%;
    --chart-4: 215 16% 46%;
    --chart-5: 215 19% 34%;

    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 217 32% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 215 24% 26%;
    --popover-foreground: 210 40% 98%;

    --primary: 198 93% 59%;
    --primary-foreground: 204 80% 15%;

    --secondary: 212 26% 83%;
    --secondary-foreground: 228 84% 4%;

    --muted: 215 16% 46%;
    --muted-foreground: 210 40% 98%;

    --accent: 228 84% 4%;
    --accent-foreground: 215 20% 65%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 97%;

    --border: 215 19% 34%;
    --input: 215 19% 34%;
    --ring: 198 93% 59%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 198 93% 59%;
    --sidebar-primary-foreground: 204 80% 15%;
    --sidebar-accent: 215 20% 65%;
    --sidebar-accent-foreground: 228 84% 4%;
    --sidebar-border: 215 19% 34%;
    --sidebar-ring: 198 93% 59%;

    --chart-1: 199 95% 73%;
    --chart-2: 211 96% 78%;
    --chart-3: 215 20% 65%;
    --chart-4: 215 16% 46%;
    --chart-5: 215 19% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
